body{
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
/* header area start */
.navigation-part{
    width: 100%;
    margin: auto;
    background-color: #fafafa;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .logo-area h2{
    color: #FD8314;
    font-size: 35px;
    font-family: 'Shrikhand', cursive;
}
.container .logo-area small{
    color: #F85240;
    font-size: 18px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.container .navigation-area ul{
    display: flex;
}
.container .navigation-area ul li{
    list-style: none;
}
.container .navigation-area ul li a{
    text-decoration: none;
    padding: 15px;
    color: #4e4e4e;
    font-size: 18px;
    font-weight: 500;
}
.container .navigation-area ul li a:hover{
    background-color: #FA682C;
    color: whitesmoke;
    border-radius: 15px;
    padding: 10px 20px;
}
.container .navigation-area a{
    padding-left: 20px;
    color: #F85240;
    font-size: 18px;
}
/* header area End */

/* main area start */
.top-part{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-part .left-side-text h1{
    font-size: 46px;
    color: #FA682C;
    font-family: 'Arizonia', cursive;
}
.top-part .left-side-text p{
    font-style: italic;
    font-size: 18px;
    color: #747474;
}
.top-part button {
    padding: 10px 40px;
    font-size: 18px;
    background-color: #F85240;
    border: none;
    border-radius: 15px;
    color: whitesmoke;
}
.top-part button:hover{
    background-color: whitesmoke;
    color: #F85240;
    border: 1.5px solid #b4b2b2;

}
.top-part i{
    padding-left: 15px;
    font-size: 18px;
}
.top-part .right-side-image{
    width: 380px;
    margin-top: 25px;
}

/* top-part end */

/* sponser-area start */
.line  {
    width: 80%;
    margin: auto;
}
.line hr{
    border: 1px solid #F85240;
    
}
.sponser-images{
    display: flex;
    justify-content: center;
}
.sponser-images img{
    padding: 0 20px;
}
/* sponser-area end */

/* hot-deal start */
.head-tag h1 {
    text-align: center;
    margin-top: 55px;
    font-size: 46px;
    color: #FA682C;
    font-family: 'Arizonia', cursive;
}
.hot-deal{
    width: 80%;
    margin: auto;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product{
    background-color: #fdfdfd;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.product img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product h3{
    text-align: center;
}
.product h4{
    text-align: center;
    font-style: italic;
    margin: 5px 5px;
    color: #4e4e4e;
}
.product span{
    margin-left: 80px;
    color: #F6A104;
}
.product small{
    color: #b4b2b2;
    padding-left: 15px;
}
.see-more button{
    padding: 10px 40px;
    font-size: 18px;
    background-color: #F85240;
    border: none;
    border-radius: 15px;
    color: whitesmoke;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.see-more button:hover{
    background-color: whitesmoke;
    color: #F85240;
    border: 1.5px solid #b4b2b2;
}
.see-more i{
    padding-left: 15px;
    font-size: 18px;
}
/* hot-deal end */

/* subscription-area start */
.subscription-area{
    width: 80%;
    margin: auto;
}
.subscription-text h1{
    font-size: 30px;
    color: #FA682C;
    text-align: center;
    margin: 70px 0 10px 0;
    font-family: 'Shrikhand', cursive;
}
.subscription-text p{
    font-style: italic;
    text-align: center;
    margin-top: 0%;
    color: #747474;
    font-size: 17px;
}
.signup-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 25%;
    padding: 20px 20px;
    border: 1px solid #b4b2b2;
    border-radius: 15px 0 0 15px;

}
.signup-box h3{
    padding: 19px 20px ;
    background-color: #F85240;
    border-radius: 0 15px 15px 0;
    color: whitesmoke;
}
.signup-box i{
    padding-left: 15px;
    font-size: 20px;
}
/* subscription-area end */

/* footer area start */
    footer {
        height: 140px;
        background-color: #212529;
    }
    footer h2{
        padding-top: 25px;
        text-align: center;
        font-size: 18px;
        color: whitesmoke;
        margin-bottom: 0;
    }
    footer h2 i{
        color: #F85240;
    }
    footer P{
        margin: 0;
        text-align: center;
        color: whitesmoke;
        font-style: italic;
    }
    .social-icon{
        display: flex;
        justify-content: center;
        
    }
    .social-icon a{
        text-align: center;
        font-size: 25px;
        color: whitesmoke;
        padding: 8px;
        
    }
/* footer area end */
